<app-loading-spinner [isLoading]="isLoading" ></app-loading-spinner>

<form [formGroup]="loginForm" (ngSubmit)="signIn()">
    
  <h2>Log In</h2>
  
  <div class="email">
      <label>Email:</label>
      <input    type="email" formControlName="email"  name="email" required>
      <em class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Email is not valid</em>
    </div>
    
    <div class=" password">
      <label>Password:</label>
      <input  type="password" formControlName="password" name="password" required formControlName="password">
      <em class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password is not valid</em>
    </div>
      
     <div class="all-buttons">
       <button type="submit">Log In</button>
       <button type="submit" routerLink="/register" >Register</button>
      </div>
  </form>
  