<div class="container">
    <h1 class="header">Your Cart</h1>
  
    <!-- Show this message if the cart is empty -->
    <div class="empty-cart"  >
      You have no items in your cart
    </div>
  
    <!-- Show the cart list if there are items in the cart -->
    <ul class="cart" >
      <li class="cart-item"  >
        <div class="product">
          <div class="product-details">
            <img [src]="" [alt]="" />
            <div class="product-info">
              <div class="name"></div>
              <div class="description"></div>
            </div>
          </div>
          <div class="price">
            <!-- If the device has a discount, show the original price as strikethrough -->
            <div >
              
            </div>
  
            <!-- Show the discounted price if there's a discount -->
            <div  class="discount">
         
            </div>
  
            <!-- Remove button -->
            <button >Remove</button>
          </div>
        </div>
      </li>
    </ul>
   
    <!-- Show the total cost of all items in the cart -->
    <div class="total">

    </div>
  </div>
  