<div class="container">
    <h1 class="header">Your Cart</h1>
  
    <div class="empty-cart" *ngIf="getCartItems().length===0" >
      You have no items in your cart
    </div>
  
   
    <ul class="cart" *ngIf="getCartItems().length>0">
      <li class="cart-item" *ngFor="let device of getCartItems()" >
        <div class="product">
          <div class="product-details">
            <img [src]="getImageUrl(device)" [alt]="device.model" />
            <div class="product-info">
              <div class="name">{{ device.model }}</div>
              <div class="description">{{ device.brand }}</div>
            </div>
          </div>
          <div class="price">
          
            <div [ngClass]="{ strikethrough: device.discount > 0 }">
              {{ device.price | currency : "USD" }}
            </div>
  
            <div *ngIf="device.discount > 0" class="discount">
              {{ (device.price  - device.discount) | currency : "USD" }}
            </div>
  
     
            <button (click)="removeFromCart(device)">Remove</button>
          </div>
        </div>
      </li>
    </ul>
  
    <!-- Show the total cost of all items in the cart -->
    <div class="total">
    total:  {{getcartTotal()|currency:"USD"}}
    </div>
  </div>
  